In [30]:
%load_ext autoreload
%autoreload

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [31]:
# ESTA CELDA SE TIENE QUE CORRER JUNTO CON LA ANTERIOR, SI NO PYTHON DICE: PARA QUE CARGAR DOS VECES 
# EL MISMO PAQUETE
import numpy as np
import taxi_batch789_Lyon.data as data
import taxi_batch789_Lyon.utils as utils
import taxi_batch789_Lyon.encoders as encoders
import taxi_batch789_Lyon.trainer as trainer

In [3]:
# from taxi_batch789_Lyon.data import *
data.PATH

'/home/san/code/sanpigh/taxi_batch789_Lyon/raw_data/train_10k.csv'

# test data.py

In [4]:
df = data.get_data()
df.head()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1
1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1
2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2
3,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1
4,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1

In [5]:
df = data.clean_data(df)
df.head()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1
1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1
2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2
3,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1
4,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1

# Test utils

In [6]:
hav = utils.haversine_vectorized(df,
                         start_lat="pickup_latitude",
                         start_lon="pickup_longitude",
                         end_lat="dropoff_latitude",
                         end_lon="dropoff_longitude")
hav

0       1.030764
1       8.450134
2       1.389525
3       2.799270
4       1.999157
          ...
9994    1.023797
9995    3.464212
9996    1.166274
9997    4.059500
9998    1.493453
Length: 8533, dtype: float64

In [7]:
utils.compute_rmse(np.array(2.0),np.array(1.0))

1.0

# Encoders

In [8]:
# I woon't train_test_split because it is just for testing
y = df.pop('fare_amount')
X = df

In [9]:
# DistanceTransformer

dist = encoders.DistanceTransformer()
dist.fit(X, y)

DistanceTransformer()

In [10]:
dist.transform(X,y).head()

   distance
0  1.030764
1  8.450134
2  1.389525
3  2.799270
4  1.999157

In [11]:
# TimeFeaturesEncoder

time_column = 'pickup_datetime'
time = encoders.TimeFeaturesEncoder(time_column, time_zone_name='America/New_York')

In [12]:
time.fit(X,y)

TimeFeaturesEncoder(time_column='pickup_datetime')

In [13]:
time.transform(X,y).head()

                           dow  hour  month  year
pickup_datetime
2009-06-15 13:26:21-04:00    0    13      6  2009
2010-01-05 11:52:16-05:00    1    11      1  2010
2011-08-17 20:35:00-04:00    2    20      8  2011
2012-04-21 00:30:42-04:00    5     0      4  2012
2010-03-09 02:51:00-05:00    1     2      3  2010

# Trainer

In [14]:
# visualizing pipelines in HTML
from sklearn import set_config; set_config(display='diagram')

In [32]:
train = trainer.Trainer(X,y)

In [33]:
train.set_pipeline()

In [34]:
train = trainer.Trainer(X,y)
train.run()

In [35]:
train.pipeline.predict(X)

array([ 6.17450735, 17.37342209,  6.65970828, ...,  8.69311119,
       13.34842159,  6.791344  ])

In [ ]:
train